@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.container {
    max-width: 1366px;
    margin: auto;
    padding-top: 46px;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
}

/*  HEADER  */

.header-wrupper {
    max-width: 1028px;
    display: grid;
    grid-template-columns: max-content max-content 1fr max-content;
    margin: 0 178px 20px 160px;
}

.logo-img {
    display: inline-block;
    margin-right: 8px;
    height: 53px;
    width: 47;
}

.text-logo {
    display: inline-block;
    padding-top: 4px;
}

.text-milan {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
}

.text-holidays {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.logo-link:hover span {
    color: #F26522;
}

.logo-link:hover img {
    content: url(../img/logo-milan-holidays-orange.png);
}/* после загрузки страницы при первом наведении дергается. при повторных наведениях
работает корректно*/

.contacts-block {
    grid-column-start: 4;
    display: grid;
    justify-items: end;
}

.contact-tel {
    margin-top: 20px;
}

.contacts-block a {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.contacts-block a:hover {
    color: #F26522;
}

/*  CATEGORY  */

.category-wrupper {
    max-width: 1028px;
    margin: 0 178px 0 160px;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    justify-content: space-between;
    align-content: space-between;
}

.category {
    max-width: 300px;
    text-align: center;
    padding-bottom: 37px;
}

.category img {
    width: 308px;
    height: 225px;
    margin-left: -4px;
}

.category p {
    font-size: 18px;
    line-height: 18px;
    color: #fff;
}

.img-container {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 220px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom, transparent, #ffffff) 0% 100%;
    border-image-slice: 1;
}

.category-link:hover>.img-container>.viev-details {
    top: 165px;
}

.category-link:hover>p {
    color: #F26522;
}

.viev-details {
    position: absolute;
    width: 300px;
    height: 55px;
    top: 225px;
    transition: 0.8s;
    padding: 7px 14px 12px 16px;
    background-color: #F26522;
}

.viev-details {
    display: grid;
    grid-template-columns: max-content 1fr 1fr;
    align-content: space-between;
    align-items: end;
}

.viev-details span {
    color: #ffffff;
}

.label-from {
    grid-column: span 3;
    justify-self: start;
    font-size: 10px;
    line-height: 10px;
}

.label-price {
    font-size: 20px;
    line-height: 20px;
}

.label-viev-detls {
    grid-column-start: 3;
    font-size: 14px;
    line-height: 14px;
}

.label-viev-detls::after {
    color: #ffffff;
    content: url(/img/arrow-simbol.svg);
    margin-left: 16px;
}

.footer-wrupper {
    text-align: center;
}

.footer-wrupper span {
    display: block;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    padding-top: 12px;
    padding-bottom: 15px;
}