@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
body {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    background-image: url(../img/background-fon.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    padding: 18px 79px;
    background: rgba(0, 0, 0, 0.4);
}

.header-wrupper {
    display: grid;
    grid-template-columns: max-content 1fr repeat(3, max-content);
    align-content: center;
}

.logo-journey {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
}

.logo-journey:hover {
    color: #3CB878;
}

.item-block {
    grid-column: 3;
}

.item-link:hover>.icon-item path {
    fill: #3CB878;
}

.icon-item, .separator-line {
    margin-right: 27px;
}

.separator-line {
    width: 1px;
    height: 19px;
    background-color: #FFFFFF;
}

.header-log-sign {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.text-green:hover {
    color: #3CB878;
}

/* FORM */

.form-box {
    position: relative;
    width: 444px;
    height: 584px;
    margin: calc((100vh - 584px) / 2 - 62px) auto calc((100vh - 584px) / 2) auto;
    background-color: #fff;
}

.form-container {
    /* position: relative; */
    margin: 0 60px;
    height: 100%;
    padding-top: 29px;
}

.sign-up-label {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.sign-up-link::before {
    display: table;
    content: " ";
    width: 18px;
    height: 18px;
    position: absolute;
    top: 31px;
    left: 0;
    background-color: #3CB878;
}

.log-in-link {
    float: right;
    margin-top: 4px;
}

.log-in-link:hover>.log-in-label {
    text-decoration: underline;
    color: #01813F;
}

.log-in-label {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.btn-socmedia {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin-top: 12px;
    margin-bottom: 28px;
    padding: 0;
    width: 160px;
    height: 48px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-fb {
    background-color: #305DB8;
}

.btn-fb:hover {
    background-color: #022263;
}

.btn-google {
    justify-content: space-evenly;
    float: right;
    background-color: #DF4A32;
}

.btn-google:hover {
    background-color: #AB1F09;
}

.divider {
    content: '';
    display: inline-block;
    width: 1px;
    height: 28px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.divider-google {
    position: absolute;
    left: 62px;
}

.fb-google-label {
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.or-label {
    display: inline-block;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}

.or-label::before, .or-label::after {
    content: '';
    display: inline-block;
    width: 150px;
    height: 1px;
    margin-bottom: 3px;
    background: #F2F2F2;
}

.or-label::before {
    margin-right: 5px;
}

.or-label::after {
    margin-left: 5px;
}

.form-input {
    width: 100%;
    height: 44px;
    margin-bottom: 12px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.form-input::placeholder {
    padding-left: 19px;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}

.form-input:focus {
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.form-input:focus::placeholder {
    color: #434343;
}

.agree-terms-link:hover .agree-terms--green {
    color: #01813F;
}

.agree-terms-link:hover>.agree-terms-checker path {
    stroke: #01813F;
}

.agree-terms {
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.agree-terms--green {
    color: #3CB878;
}

.btn-create-account {
    width: 100%;
    height: 44px;
    margin-top: 21px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: rgba(60, 184, 120, 0.8);
}

.btn-create-account:hover {
    background-color: #01813F;
}