body {
    /* width: 98vw; */
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

.uppercase-style {
    text-transform: uppercase;
}

.top-menu {
    height: 70px;
    background: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-block-menu {
    display: flex;
    justify-self: auto;
}

.logo-item {
    min-width: 81px;
    /* height: 70px;  */
    text-align: center;
}

.architect_url {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.block-urls {
    min-width: 700px;
}

.menu-item-list {
    display: flex;
    justify-content: space-between;
}

.menu-item-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
}

.search {
    min-width: 68px;
    height: 70px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-items: center;
}

.search-icon {
    margin: auto;
}

/* THE LATEST NEWS ON DESIGN & ARCHITECTURES */

.block-news {
    height: 369px;
    background-image: url("../img/header-bg.jpeg");
    background-repeat: no-repeat;
    /* height: calc(100vh - 81px); */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.latest-news {
    margin-top: 150px;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
}

.news-btns {
    min-width: 360px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 74px;
}

.subscribe-btn {
    width: 170px;
    height: 55px;
    background: #89CA62;
    color: #fff;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    font-size: 18px;
}

.news-btn {
    width: 170px;
    height: 55px;
    background: #14B9D5;
    color: #fff;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    font-size: 18px;
}

/* MOST  POPULAR  POST  */

.block-popular-posts {
    height: 1030px;
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
}

.wrapper-top {
    height: 134px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.most-pop-posts {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
}

.wrapper-bottom {
    height: 896px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.posts-column {
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
}

.post-item-text {
    height: 61px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

.post-link {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

/*  OUR MOST  POPULAR  CLIENTS    */

.block-popular-clients {
    height: 588px;
    background-image: url("../img/parallax-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 106px 20% 50px 20%;
}

.popular-clients-wrupper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.popular-clients-label {
    grid-column: span 4;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
}

.blue-line {
    grid-column: span 4;
    width: 60px;
    height: 3px;
    margin-top: 106px;
    margin-bottom: 87px;
    background-color: #18B4CF;
}

/*  TOP RATED    */

.top-rated-title, .hot-news-title {
    text-align: center;
}

.top-rated-title>h2, .hot-news-title>h2 {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    padding-top: 49px;
    padding-bottom: 52px;
    color: #18B4CF;
}

.top-rated-item-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 14.26%);
    align-items: stretch;
    grid-template-rows: minmax(100px, 159px);
}

/*  HOT  NEWS    */

.block-hot-news {
    height: 1683px;
    margin: 0 14%;
}

.hot-news-wrupper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(min-content, max-content);
    grid-row-gap: 40px;
    grid-column-gap: 34px;
    align-items: stretch;
    justify-items: center;
}

.hot-news-wrupper p {
    padding: 20px 0;
    text-align: right;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}

.hot-news-wrupper>div>div {
    height: max-content;
    text-align: right;
    padding: 10px;
    background-color: #F9F7F7;
}

.post-news-item1, .post-news-item8 {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: stretch;
}

.post-news-item2, .post-news-item7 {
    grid-column: span 1;
}

.post-news-item3, .post-news-item4, .post-news-item5, .post-news-item6 {
    grid-column: span 2;
}

/*  FOOTER    */

footer {
    height: 80px;
    margin-top: 71px;
    padding-top: 28px;
    background: #000000;
}

footer>div {
    height: 24px;
    display: grid;
    justify-items: end;
    align-items: center;
    grid-template-columns: max-content 1fr max-content max-content;
    margin: 0 14%;
}

footer p {
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}

/* footer>div>div {
    grid-column-start: 3;
    align-items: start;
} */

.logo-lioit {
    width: 38px;
    height: 24px;
    grid-column-start: 3;
}

.label-lioit {
    align-self: baseline;
    margin-left: 5px;
    width: 64px;
    height: 16px;
}