@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
body {
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1280px;
    margin: auto;
}

li>a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #f00;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}

.nav {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.nav-item {
    display: inline-block;
    margin-left: 70px;
}

.nav-item::after {
    content: "";
    margin-left: 20px;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 38px;
}

.content {
    text-align: center;
    margin: 48px 67px;
}

.content>p {
    margin-top: 28px;
}

.btn-start {
    min-width: 191px;
    min-height: 51px;
    background: #FF0000;
    border-radius: 4px;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-top: 66px;
    margin-bottom: 40px;
    cursor: pointer;
}
footer{
    padding: 0;
}

footer span {
    float: right;
    margin-right: 105px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-top: 0px;
    margin-bottom: 29px;
}