@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
body {
    width: 100%;
    background: url("../img/Sections-background/section-1_header.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

.uppercase-style {
    text-transform: uppercase;
}

/* CONTAINER */

.container {
    max-width: 1160px;
    margin: 0 auto;
}

/* COLOR CLASSES */

.colore-white {
    color: #FFFFFF;
}

.colore-white-alfa {
    color: rgba(255, 255, 255, 0.6);
}

.colore-main {
    color: #18CFAB;
}

/* LINES DECOR */

.line-decor-wrapper {
    position: relative;
    width: 101px;
    margin: 0 auto;
}

.line-decor-top {
    position: absolute;
    left: 22px;
    top: 6px;
}

.line-decor {
    width: 79px;
    height: 2px;
    background-color: #18CFAB;
}

/* NAVIGATION */

.nav-fon {
    height: 120px;
    padding-top: 25px;
    background: rgba(94, 93, 88, 0.6);
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-wrapper {
    position: relative;
}

.logo-text-pict {
    position: absolute;
    top: 14px;
    left: 13px;
    font-size: 40px;
    font-weight: bold;
}

.logo-text-white {
    font-size: 32px;
}

.logo-text {
    font-size: 32px;
    font-weight: bold;
}

.nav-menu-items-wrapper {
    display: grid;
    grid-template-columns: repeat(8, max-content);
    column-gap: 21.9px;
}

.nav-menu-items {
    font-size: 16px;
    font-weight: bold;
}

.nav-menu-items:hover span {
    color: #18CFAB;
}

.search-icon {
    width: 21px;
    height: 20px;
}

/* HEADER ----------------------------------------- HEADER */

.header-block {
    height: 1012px;
}

.header-content {
    margin-top: 264px;
}

.header-content-a, .header-content-b, .header-content-c {
    text-align: center;
}

.header-content-a {
    padding-bottom: 22px;
    font-size: 35px;
    font-weight: bold;
}

.header-content-b {
    padding-bottom: 22px;
    font-size: 78px;
    font-weight: bold;
}

.header-content-c {
    padding-bottom: 134px;
    font-size: 36px;
    color: #d4d4d4;
}

.header-btns {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
}

.btn-block {
    position: relative;
}

.btn, .btn-backing {
    position: absolute;
    width: 169px;
    height: 63px;
    border: none;
    border-radius: 4px;
}

.btn-header-block-1 {
    left: -184px;
}

.btn-header-block-2 {
    left: 14px;
}

.btn {
    top: 5px;
    font-size: 15px;
    font-weight: bold;
    background-color: #18CFAB;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-backing {
    background-color: #FFFFFF;
}

/* CATEGORIES ------------------------------------------ CATEGORIES  */

.categories {
    height: 377px;
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.categories>a {
    flex-grow: 1;
}

.diff, .support {
    height: 377px;
    flex-grow: 1;
    text-align: center;
    padding-top: 95px;
    background-color: #1C2A33;
}

.fully, .device {
    height: 377px;
    flex-grow: 1;
    text-align: center;
    padding-top: 105px;
    background-color: #18CFAB;
}

.diff>p, .support>p {
    margin-top: 47px;
}

.fully>p, .device>p {
    margin-top: 58px;
}

/* OUR SERVISCES --------------------------------------- OUR SERVISCES  */

.our-services {
    padding-top: 83px;
    padding-bottom: 92px;
    background-color: #FFFFFF;
}

.our-services-title, .news-title, .our-work-title {
    font-size: 36px;
    color: #4E4E4E;
}

.our-services-title {
    padding-bottom: 24px;
    font-size: 36px;
    color: #4E4E4E;
}

ul {
    list-style: none;
    padding-left: 0;
}

.tabs-ourserv-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs-ourserv {
    display: flex;
    padding-top: 69px;
    flex-wrap: nowrap;
}

.tabs-ourserv-title {
    margin-left: 2px;
    padding: 30px 38px;
    font-size: 16px;
    color: #717171;
    background-color: #F8FCFE;
    border: 1.5px solid #F2F2F2;
    cursor: pointer;
}

.tabs-ourserv-title.active {
    background-color: #18CFAB;
    color: #FFFFFF;
    border: 1.5px solid #18CFAB;
}

.tabs-ourserv-title:hover {
    border: 1.5px solid #18CFAB;
}

.tabs-ourserv-content li {
    padding-top: 28px;
    display: none;
}

.tabs-ourserv-content li.active {
    display: block;
}

.tab-ourserv-content-wrapper {
    display: flex;
}

.tab-ourserv-content-wrapper>img {
    width: 192px;
    height: 139px;
}

.tab-ourserv-text {
    padding-left: 15px;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

/*  BUY INSTALL --------------------------------------- BUY INSTALL */

.buy-install {
    height: 476px;
    background-image: url("../img/Sections-background/section-2.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

.fon-alpha {
    width: 100%;
    height: 476px;
    padding-top: 126px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.buy-install-title {
    font-size: 40px;
    font-weight: bold;
    color: #18CFAB;
}

.buy-install-text {
    margin-top: 12px;
    margin-bottom: 62px;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
}

.buy-install-btn {
    display: flex;
    width: 169px;
    margin: auto;
}

/*  OUR AMAZING WORK --------------------------------------- OUR AMAZING WORK */

.our-work {
    padding-top: 83px;
    padding-bottom: 99px;
    background-color: #E9EDEF;
}

.our-work-title {
    padding-bottom: 20px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.tabs-work-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs-work {
    display: flex;
    padding-top: 69px;
    flex-wrap: nowrap;
}

.tabs-work-title {
    margin-left: 2px;
    padding: 23px 28px;
    font-size: 14px;
    color: #717171;
    background-color: #E9EDEF;
    border: 1px solid #DADADA;
    cursor: pointer;
}

.tabs-work-title.active {
    color: #18CFAB;
    border: 2px solid #18CFAB;
}

.items-work-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 71px;
    padding-bottom: 70px;
}

.work-img {
    display: block;
    width: 284px;
    height: 204px;
}

.work-img-dispnone {
    display: none;
}

.btn-our-work {
    position: static;
}

/*  BREAKING NEWS --------------------------------------- BREAKING NEWS */

.news {
    padding-top: 83px;
    padding-bottom: 128px;
    background-color: #FFFFFF;
}

.news-title {
    padding-bottom: 22px;
}

.news-wrapper {
    text-align: center;
}

.news-items-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    row-gap: 43px;
    padding-top: 68px;
}

.news-item {
    position: relative;
    width: 263px;
}

.news-item:hover>.news-data {
    background: #18CFAB;
}

.news-item:hover>.news-item-title {
    color: #18CFAB;
}

.img-news {
    width: 263px;
    height: 208px;
}

.news-data {
    position: absolute;
    width: 70px;
    height: 68px;
    top: 0px;
    right: 0px;
    padding-top: 9px;
    background: #203E38;
}

.text-news-data {
    display: block;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.news-item-title {
    font-weight: bold;
    font-size: 17.9885px;
    line-height: 39px;
    color: #717171;
}

.news-label-wrapper {
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    color: #777777;
}

/*  WHAT PEOPLE SAY --------------------------------------- WHAT PEOPLE SAY */

.people-say {
    background-image: url("../img/Sections-background/section-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.people-say-fon-alpha {
    width: 100%;
    padding-top: 98px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.people-say-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame-people-info {
    width: 1160px;
    overflow: hidden;
}

.people-all {
    display: flex;
    padding-top: 36px;
    transition: 0.9s ease-in-out;
}

.people-say-title {
    padding-bottom: 24px;
    font-size: 36px;
    color: #FFFFFF;
}

.qote-pict {
    padding-top: 68px;
}

.singl-people {
    min-width: 1160px;
    height: 360px;
}

.people-text, .people-proff {
    padding-bottom: 38px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
}

.people-name {
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: #18CFAB;
}

.people-proff {
    display: block;
    padding-bottom: 38px;
}

.foto-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

.foto-backlayer {
    width: 166px;
    height: 166px;
    background-color: #18CFAB;
    opacity: 0.2;
    border-radius: 50%;
}

.people-foto {
    position: absolute;
    width: 142px;
    height: 142px;
    top: 12px;
}

.people-controller-wrapper {
    width: 484px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 51px;
    padding-bottom: 99px;
}

.foto-small-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

.controller-btn {
    width: 31px;
    height: 31px;
    color: #BBBBBB;
    font-size: 26px;
    border: 1px solid #BBBBBB;
}

.controller-btn:hover {
    color: #FFFFFF;
    background-color: #18CFAB;
    border: none;
}

.disabled-btn {
    pointer-events: none;
    opacity: 0.4;
}

.foto-small-backlayer {
    width: 71px;
    height: 71px;
    background-color: #18CFAB;
    opacity: 0.2;
    border-radius: 50%;
}

.people-foto-small {
    position: absolute;
    width: 61px;
    height: 61px;
    top: 5px;
}

/*  FOOTER --------------------------------------- FOOTER */

footer {
    height: 121px;
    padding-top: 48px;
    background: #22353F;
}

footer>div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}