@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    max-width: 1280px;
    margin: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

/* header part */

.logo {
    padding-top: 63px;
    padding-bottom: 38px;
}

.logo-ref {
    font-size: 80px;
    line-height: 94px;
    color: #000;
}

.color-text {
    color: #33ccff;
}

.menu-block {
    height: 72px;
    background: #35444F;
}

.menu-item-list {
    display: flex;
    justify-content: center;
}


.menu-item {
    padding: 26px 32px 19px 32px;
    border-left: 1px solid #fff;
}
.menu-item:hover {
    background-color: #222F3A;;
}
.last-item{
    padding: 26px 0;

}

.menu-item-link {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}


/* main part */

.main-block {
    margin-top: 48px;
    display: flex;
    flex: auto;
    align-items: flex-start;
    gap: 52px;
}

.aside-block {
    border: 1px solid #000;
    min-width: 342px;
}

.aside-item {
    padding-left: 44px;
    padding-top: 26px;
    padding-bottom: 26px;
}

.aside-item:hover {
    background-color: #DBDBDB;
    padding-left: 64px;
}

.aside-item-link {
    font-size: 27px;
    line-height: 27px;
    color: #485863;
}

.aside-item-link:hover {
    color: #35444F;
}

.block-img-logo {
    border: 1px solid #000;
}

.img-logo {
    display: block;
    margin: 75px auto;
    
}
.img-logo:hover {
    display: block;
    margin: 75px auto;
    transition: 1s;
    transform: scale(1.2);
}

.article-text {
    margin-top: 37px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

/* footer part */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
    margin-top: 54px;
}

.footer-menu-block {
    display: flex;
}

.footer-item-list {
    display: flex;
    margin-left: 40px;
}

.footer-item {
    margin-right: 30px;
}

.footer-item-link {
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}
.footer-item-link:hover {
    color: #478ba3;
}

.copyright {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    margin-right: 40px;
}