@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.anime-container {
    position: relative;
    width: 60%;
    height: 100vh;
    margin: auto;
    /* background-color: darkcyan; */
}

.anime-container {
    transform: perspective(100px) rotateX(10deg);
}

.text-anime {
    position: absolute;
    top: 20%;
    font-size: 60px;
    font-weight: bold;
    text-align: center;

    color: burlywood;
}

.text-move-up{
    transition: 20s;
/* transform:  translateY(80%); */

}

@keyframes text-move-up {
    0% {
        transform: translateY(80%);
    }
    100%{
        transform: translateY(10%);
    }
}