@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
}

/* лэйбл с текущей ценой + кнопка */

.price-label {
    display: block;
    width: max-content;
    margin-top: 10px;
    margin-left: 40px;
    font-size: 14px;
    padding: 4px 6px 4px 8px;
    border: 1px solid #888;
    border-radius: 16px;
}

.btn-close-label {
    width: 20px;
    height: 20px;
    font-size: 10px;
    border: 1px solid #888;
    border-radius: 50%;
    cursor: pointer;
}

/* Лэйбл "Цена, $" + поле ввода цены */

.price-block-input {
    margin-left: 40px;
    margin-top: 10px;
}

.price-input {
    width: 100px;
    height: 26px;
    padding-left: 5px;
    font-size: 16px;
    outline: none;
    border: 2px solid #aaa;
    border-radius: 5px;
}

.price-input:focus {
    border: 2px solid rgb(30, 160, 30);
}

.price-input-valid {
    color: rgb(30, 160, 30);
}

.border-price-error {
    border: 2px solid rgb(140, 10, 20);
}

/* Лэйбл "Please enter correct price" */

.lbl-wrongvalue {
    display: block;
    margin-left: 40px;
    margin-top: 10px;
    font-size: 14px;
}

.disp-none {
    display: none;
}